body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1556333376-49e555694a41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 50%;
  height: 80%;
  margin: auto;
  background-color: rgba(0,0,0,.5);
  padding: 40px 60px 20px 60px;
  color: aliceblue;
  
}
.form-headline {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    margin-bottom: 10px;
    color: aliceblue;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #017035;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    
}


